<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>王畊弘</title>
</head>
<body>
	<h4>沒人的房間</h4><h1>嘎啦嘎拉(嘎啦嘎啦......</h1>
	<img src="房門.jfif"></img><br>
	
	FB:<a href="https://www.facebook.com/profile.php?id=100000861425011">https://www.facebook.com/profile.php?id=100000861425011</a><br>
	YouTube:<a href=https://www.youtube.com/channel/UCLsiAdr79AAFIV4UJOOFMFg/featured>https://www.youtube.com/channel/UCLsiAdr79AAFIV4UJOOFMFg/featured</a><hr>
</body>
</html>